.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  font-style: normal;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background-color: #FFFFFF;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  color: #757575;
  font-size: 14px;
}

.container {
  margin: 0 auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 94px;
  padding-bottom: 94px;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: #212121;
}

.page-header {
  display: flex;
  max-width: 1600px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 0 auto;
  border-bottom: #eeeeee solid 1px;
}

.navigation {
  display: flex;
}

.header-logo {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}

.nav {
  display: flex;
}

.nav__item:not(:first-child) {
  margin-left: 50px;
}

.nav__link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  letter-spacing: 0.02em;
  font-weight: 500;
  line-height: 1.14;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover, .nav__link:focus {
  color: #2196f3;
}

.current {
  position: relative;
  color: #2196f3;
}

.current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

.contact {
  display: flex;
  margin-left: auto;
}

.contact__item:last-child {
  margin-left: 30px;
}

.contact__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  letter-spacing: 0.02em;
  font-weight: 500;
  line-height: 1.14;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #757575;
}

.contact__link:hover, .contact__link:focus {
  color: #2196f3;
}

.contact__icon {
  fill: currentColor;
  margin-right: 10px;
}

.logo {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  color: #2196f3;
}

.header-logo__studio {
  color: #212121;
}

.logo__studio {
  color: #FFFFFF;
}

.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  background-color: #2F303A;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bcg-img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  margin: 0 auto;
  margin-bottom: 30px;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transform: scale(1);
  z-index: 1;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  pointer-events: none;
}

.modal {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  min-width: 528px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: #FFFFFF;
}

.modal__close {
  position: absolute;
  padding: 0;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.modal__close:hover .modal__icon,
.modal__close:focus .modal__icon {
  fill: #2196f3;
}

.modal__icon {
  width: 11px;
  height: 11px;
  fill: black;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__header {
  display: block;
  padding-left: 4px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: #212121;
}

.form__field {
  display: block;
  position: relative;
}

.form__input {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form__input:focus {
  border: 1px solid #2196f3;
  outline: #2196f3;
  cursor: pointer;
}

.form__input:focus + .form__icon {
  fill: #2196f3;
}

.form__label {
  display: block;
  margin-top: 10px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.form__icon {
  fill: #212121;
  position: absolute;
  top: 29px;
  left: 15px;
  width: 18px;
  height: 18px;
}

.form__input--comment {
  display: block;
  padding-left: 16px;
  padding-right: 16px;
  resize: none;
  height: 120px;
}

.form__input--comment::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.check {
  position: relative;
  display: flex;
  margin-top: 20px;
  margin-bottom: 30px;
}

.check__label {
  line-height: 1.71;
  margin-left: 30px;
}

.check__link {
  color: #2196f3;
  text-decoration: underline;
}

.check__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.check__input:checked ~ .check__icon {
  border-color: transparent;
  background-image: url(../images/check1.svg);
}

.check__icon {
  position: absolute;
  display: block;
  width: 16px;
  height: 15px;
  top: 4px;
  left: 9px;
  background-size: cover;
  background-position: center;
  background-origin: border-box;
  background-image: url(../images/border.svg);
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.peculiarities {
  display: flex;
  padding-bottom: 0;
  justify-content: center;
}

.peculiarities__title {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 1.14;
  font-size: 14px;
  text-transform: uppercase;
  color: #212121;
}

.peculiarities__item:not(:last-child) {
  margin-right: 30px;
}

.peculiarities__box {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  width: 270px;
  height: 120px;
  background-color: #F5F4FA;
}

.peculiarities__par {
  line-height: 1.71;
  background-color: red;
}

.doing {
  display: flex;
  margin-top: 50px;
}

.doing__item {
  display: flex;
}

.doing__item:not(:last-child) {
  margin-right: 30px;
}

.doing__thumb {
  position: relative;
}

.doing__caption {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.doing__name {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #FFFFFF;
}

.team {
  background-color: #F5F4FA;
}

.employee {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.employee__name, .employee__position {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.employee__name {
  margin-bottom: 10px;
  font-weight: 500;
  color: #212121;
}

.employee__item {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.employee__item:not(:last-child) {
  margin-right: 30px;
}

.employee__caption {
  background-color: #FFFFFF;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 0px 0px 4px 4px;
}

.employee__position {
  margin-bottom: 16px;
}

.client {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.client__link {
  display: flex;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  color: #AFB1B8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__link:hover, .client__link:focus {
  border: 1px solid #2196f3;
  color: #2196f3;
}

.client__item:not(:last-child) {
  margin-right: 30px;
}

.client__icon {
  fill: currentColor;
  width: 170px;
  height: 92px;
}

.filtr {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filtr__item:not(:last-child) {
  margin-right: 8px;
}

.filtr__button {
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background-color: #F5F4FA;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filtr__button:hover, .filtr__button:focus {
  background-color: #2196f3;
  color: #FFFFFF;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.project__item {
  margin-left: 30px;
  margin-top: 30px;
}

.project__name {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.project__product {
  font-size: 16px;
  line-height: 1.88;
  color: #757575;
}

.project__title {
  padding: 20px 24px;
  border-left: #eeeeee solid 1px;
  border-right: #eeeeee solid 1px;
  border-bottom: #eeeeee solid 1px;
}

.project__link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project__link:hover, .project__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project__link:hover .project__back,
.project__link:focus .project__back {
  transform: translateY(0);
}

.project__thumb {
  position: relative;
  overflow: hidden;
}

.project__back {
  position: absolute;
  padding: 63px 24px;
  top: 0;
  background-color: rgba(33, 150, 243, 0.9);
  color: #FFFFFF;
  font-size: 18px;
  line-height: 1.56;
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
}

.footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}

.basement {
  display: flex;
  align-items: baseline;
}

.basement__title {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.info {
  margin-top: 20px;
  line-height: 1.71;
}

.info__link {
  color: #FFFFFF;
}

.info__item:not(:first-child) {
  margin-top: 9px;
}

.info__contact {
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.info__contact:hover, .info__contact:focus {
  color: #2196f3;
}

.connect {
  margin-left: auto;
  /* margin-left: 70px; */
}

.subscribe {
  margin-left: auto;
  /* margin-left: 93px; */
}

.subscribe__form {
  display: flex;
}

.subscribe__input {
  padding: 0 16px;
  margin-right: 12px;
  width: 358px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.6);
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  background-color: #2F303A;
}

.subscribe__input:focus {
  border: 1px solid #2196f3;
  outline: #2196f3;
  cursor: pointer;
}

.subscribe__send {
  margin-left: 10px;
  width: 24px;
  height: 24px;
  fill: #FFFFFF;
}

.button {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background-color: #2196f3;
}

.button__order {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button__order:hover, .button__order:focus {
  background-color: #188CE8;
}

.button__submit {
  display: block;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button__submit:hover, .button__submit:focus {
  background-color: #188CE8;
}

.button__button {
  display: flex;
  padding: 10px 28px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button__button:hover, .button__button:focus {
  background-color: #188CE8;
}

.social {
  display: flex;
  justify-content: center;
}

.social__icon {
  width: 20px;
  height: 20px;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover, .social__link:focus {
  fill: #FFFFFF;
  background-color: #2196f3;
}

.social__link--grey {
  fill: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.1);
}
/*# sourceMappingURL=main.css.map */