@import 'utils/variables';
@import 'utils/visually-hidden';
@import 'utils/reset';
@import 'components/social';
@import 'components/general';
@import 'components/header';
@import 'components/logo';
@import 'components/hero';
@import 'components/backdrop';
@import 'components/peculiarities';
@import 'components/doing';
@import 'components/team';
@import 'components/client';
@import 'components/filtr';
@import 'components/project';
@import 'components/button';
@import 'components/footer';