.client {
    display: flex;
    flex-wrap: wrap;
    // flex-direction: column;
    margin-top: 30px;
    // width: inherit;
    // height: inherit;
    // justify-content: center;
    // margin-top: 50px;
    @media screen and (min-width: 768px) {
        padding-bottom: 30px;
    }
    &__link {
        display: flex;
        justify-content: center;
        flex-direction: row;
        border: 1px solid $social-network;
        border-radius: 4px;
        color: $social-network;
        transition: color $cubic-bezier,
        border $cubic-bezier;
        &:hover,
        &:focus {
            border: 1px solid $link-hover-color;
            color: $link-hover-color;
        }
    }
    &__item:nth-child(odd) {
        margin-right: 30px;
    }


    &__item {
        flex-basis: calc((100% - 30px )/2);
            @media screen and (min-width: 768px) {
                    flex-basis: calc((100% - 60px)/3);
        }
    }
    &__item:not(:last-child) {
        margin-bottom: 30px;
    }
    &__item:last-child {
        margin-bottom: 60px;
    }
    // &__item:not(:last-child) {
    //     margin-right: 30px;
    // }
    
    &__icon {
        fill: currentColor;
        width: 106px;
        height: 60px;
    }
    // &__icon {
    //     fill: currentColor;
    //     width: 170px;
    //     height: 92px;
    // }
.client__item {
    @media screen and (min-width: 768px) {
        margin-right: 30px;
    }
}
.client__item:nth-child(3n + 3) {
    @media screen and (min-width: 768px) {
        margin-right: 0;
    }
    margin-bottom: 30px;
}
}