.filtr {
    display: flex;
    flex-wrap: wrap;
    @media screen and (min-width: 768px) {
    justify-content: center
}
    
    margin-bottom: 50px;
    
  
    &__item:first-child {
        margin-bottom: 15px;
    }
    &__item:not(:last-child) {
        margin-right: 8px;
    }
        @media screen and (min-width: 1200px) {
    &__item:first-child {
        margin-bottom: 0;
                    }
        }
        &__item {
          @media (max-width: 399px) {
                  margin-bottom: 15px;
              }
          }
    &__button {
        padding: 6px 22px;
        border-radius: 4px;
        border: none;
        cursor: pointer;
        font-family: Roboto, sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        letter-spacing: 0.03em;
        background-color: $bcg-filtr-color;
        color: $tit-text-color;
        transition: color $cubic-bezier,
        background-color $cubic-bezier,
        box-shadow $cubic-bezier;
        
        &:hover,
        &:focus {
            background-color: $link-hover-color;
            color: $white-text-color;
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        }
    }
    
}