.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $bg-color-second;

}


.basement {
    @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
    }
    &__title {
        display: block;
        margin-top: 60px;
        margin-bottom: 20px;
        text-align: center;
        font-weight: 700;
        line-height: 16px;
        text-transform: uppercase;
        color: $white-text-color;
        @media screen and (min-width: 1200px) {
            text-align:left;
            margin-top: 0;

    }
    }
}
.info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
        @media screen and (min-width: 1200px) {
            align-items: flex-start;
        }
}

// .footer-logo {
// margin: 0 auto;
// }

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    line-height: 1.71;
    @media screen and (min-width: 1200px) {
    align-items:flex-start;
    }
    
    &__link {
        color: $white-text-color;
    }
    
    &__item:not(:first-child) {
        margin-top: 9px;
    }
    margin-left: auto;
    margin-right: auto;
    &__contact {
        color: $contact-text-color;
        transition: color $cubic-bezier;
        &:hover,
        &:focus {
            color: $link-hover-color;
        }
    }
}
.connect {
    margin-left: auto;
}
@media screen and (min-width: 768px) {
    .footer-tablet {
        display: flex;
        align-items:flex-start
    }
    
    .connect {
        margin-right: 74px;
    }
    
    @media screen and (min-width: 1200px) {
        .connect {
            margin-right: 0;
            margin-left: 70px;
        }
        .footer-tablet {
            align-items: baseline;
        }
    }

    .info-box {
        margin-left: 61px;

        @media screen and (min-width: 1200px) {
            margin-left: 0;
        }
    }

    .connect-tablet {
        margin-top: 0;
    }
}

.subscribe {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        @media screen and (min-width: 1200px) {
            flex-direction:row;
            
        }

    }
    &__input {
        padding: 0 16px;
        height: 50px;
        border-radius: 4px;
        border: 1px solid $input-bcg;
        color: $contact-text-color;
        font-family: 'Roboto';
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.03em;
        background-color: $bg-color-second;

        &:focus {
            border: 1px solid $link-hover-color;
            outline: $link-hover-color;
            cursor: pointer;
        }
        @media screen and (min-width: 480px) {
            width: 450px;
        }
        @media screen and (min-width: 1200px) {
            width: 358px;
            margin-right: 12px;
        }
    }
    &__send {
        margin-left: 10px;
        width: 24px;
        height: 24px;
        fill: $white-text-color;
    }
}

