.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $bg-color-second;

}


.basement {
    // display: flex;
    // align-items: baseline;
    
    &__title {
        display: block;
        margin-top: 60px;
        margin-bottom: 20px;
        text-align: center;
        font-weight: 700;
        line-height: 16px;
        text-transform: uppercase;
        color: $white-text-color;
    }
}
.info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

// .footer-logo {
// margin: 0 auto;
// }

.info {
        display: flex;
            flex-direction: column;
            align-items: center;
    margin-top: 20px;
    line-height: 1.71;
    
    &__link {
        color: $white-text-color;
    }
    
    &__item:not(:first-child) {
        margin-top: 9px;
    }
    margin-left: auto;
    margin-right: auto;
    &__contact {
        color: $contact-text-color;
        transition: color $cubic-bezier;
        &:hover,
        &:focus {
            color: $link-hover-color;
        }
    }
}
.connect {
    margin-left: auto;
    /* margin-left: 70px; */
}

.subscribe {
    // display: block;
    /* margin-left: 93px; */
    margin-left: auto;
    &__form {
        display: block;
    }
    &__input {
        // margin-right: 12px;
        // width: 358px;
        padding: 0 16px;
        width: 100%;
        height: 50px;
        border-radius: 4px;
        border: 1px solid $input-bcg;
        color: $contact-text-color;
        font-family: 'Roboto';
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.03em;
        background-color: $bg-color-second;
        &:focus {
            border: 1px solid $link-hover-color;
            outline: $link-hover-color;
            cursor: pointer;
        }
    }
    &__send {
        margin-left: 10px;
        width: 24px;
        height: 24px;
        fill: $white-text-color;
    }
}
@media screen and (min-width: 768px) {
    .footer-tablet {
        display: flex;
        margin: 0 auto;
    }
.connect {
    margin-right: 74px;
}
.info-box {
    margin-left: 61px;
}
    .connect-tablet {
        margin-top: 0;
    }
}