.page-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0 auto;
    border-bottom: $border-eee;
}

.menu {
    display: none;
    position: fixed;
    justify-content: space-between;
    z-index: 900;
    top: 0;
    left: 0;
    padding-left: 40px;
    padding-top: 32px;
    padding-bottom: 48px;
    width: 100%;
    height: auto;
    background-color: $white-text-color;
    
    @media (max-width:767px) {
        overflow: scroll;
        
        &.is-open {
            display: flex;
            flex-direction: column;
            justify-content: space-between ;
            height: 100%;
        }
        
        & .nav__link {
            font-size: 40px;
            display: block;
            padding: 16px 0;
        }
        
        & .current {
            color: $link-hover-color;
        }
        
        & .phone__link {
            display: flex;
            padding: 16px 0;
            font-size: 34px;
        }
        
        & .mail__link {
            display: flex;
            padding: 16px 0;
            font-size: 24px;
        }
    }
    @media screen and (min-width:768px) {
        position: static;
        display: flex;
        flex-direction: row;
        
        padding: 0;
        margin-left: 88px;
        & .nav__link {
            font-size: 14px;
            padding: 32px 0;
        }

        & .contact {
            display: flex;
            flex-direction: column;
            margin-left: auto;
        }
        
        & .mail__link {
            display: flex;
            padding: 16px 0;
            font-size: 24px;
        }
        
        & .phone__link {
            display: flex;
            padding: 0;
            padding-bottom: 21px;
            margin-top: 10px;
            font-size: 12px;
@media screen and (min-width: 1200px) {
            font-size: 14px;                   
        }
        }

        & .mail__link {
            padding: 0;
            padding-top: 21px;
            font-size: 12px;
@media screen and (min-width: 1200px) {
            font-size: 14px;                    
        }
        }


@media screen and (min-width: 1200px) {
                margin-left: 93px; 
    .contact {
        flex-direction: row;
        margin-left: auto;
                &__link {
                display: flex;
                align-items: center;
                padding-top: 32px;
                padding-bottom: 32px;
                margin-top: 0;
        }
    &__item:last-child {
        margin-left: 30px;
    }
}

}
    }
}
@media screen and (max-width: 767px) {
    .contact {
        display: flex;
        flex-direction: column-reverse;
        font-size: 14px;
    }

    .menu-social {
        display: flex;
        margin-top: 64px;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.22;
        color: $link-hover-color;

        & li:not(:first-child) {
            padding-left: 10px;
        }

        & li:not(:last-child) {
            padding-right: 10px;
            border-right: 1px solid rgba(33, 33, 33, 0.2);
        }
    }

}
@media screen and (min-width:768px) {
    .menu-social {
        display: none;
    }
}




@media screen and (max-width: 767px) {
    .header-logo {
        padding-top: 16px;
        padding-bottom: 16px;
        margin-right: auto;
    }
}

@media screen and (min-width:768px) {

    .header-logo {
        padding-top: 26px;
        padding-bottom: 26px;
    }
}
@media screen and (min-width:1200px) {

    .header-logo {
        padding-top: 24px;
        padding-bottom: 24px;
    }
}


.navigation {
    display: flex;
}
.nav {
    &__link {
        letter-spacing: 0.02em;
        font-weight: 500;
        line-height: 1.14;
        color: $tit-text-color;
        transition: color $cubic-bezier;

        &:hover,
        &:focus {
            color: $link-hover-color;
        }
@media screen and (min-width:768px) {
            display: flex;
            padding-top: 32px;
            padding-bottom: 32px;
        }
    }

@media screen and (min-width:768px) {
        display: flex;
        font-size: 14px;

        &__item:not(:first-child) {
            margin-left: 50px;
        }
    }

}

@media screen and (min-width:768px) {
    .current {
        position: relative;
        color: $link-hover-color;

        &::after {
            content: "";
            position: absolute;
            bottom: -1px;
            left: 0;
            width: 100%;
            height: 4px;
            background-color: $link-hover-color;
            border-radius: 2px;
        }
    }
}


.contact {
    &__link {
        letter-spacing: 0.02em;
        font-weight: 500;
        line-height: 1.14;
        transition: color $cubic-bezier;
        color: $general-text-color;

        &:hover,
        &:focus {
            color: $link-hover-color;
        }

    }
    &__icon {
        display: none;
        fill: currentColor;

@media screen and (min-width: 768px) {
            margin-right: 8px;
            display: flex;
        }
@media screen and (min-width: 768px) {
            margin-right: 10px;
        }
    }
}

.menu__button {
    z-index: 950;
    display: inline-flex;
    padding: 0;
    margin: 0;

    cursor: pointer;
    border: none;
    background-color: transparent;

    &:hover,
    &:focus {
        fill: $link-hover-color;
    }

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.burger-close {
    display: none;
}

.is-open .burger-close {
    display: block;
    position: fixed;
}

.is-open .burger {
    display: none;
}
.hidden.is-open {
    overflow: hidden;
}