.hero {
    text-align: center;
    padding-top: 118px;
    padding-bottom: 118px;



            max-width: 480px;
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../images/hero-mobile.jpg);

    @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx)
            {
                 background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../images/hero-mobile-x2.jpg);
            }
    @media screen and (min-width:768px) {
            max-width: 768px;
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../images/hero-tablet.jpg);

            @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx)
            {
                 background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../images/hero-tablet-x2.jpg);
            }
        }

    @media screen and (min-width:1200px) {
            max-width: 1600px;
            padding-top: 200px;
            padding-bottom: 200px;
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../images/hero-desktop.jpg);

    @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                 background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../images/hero-desktop-x2.jpg);
            }
        }
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &__title {
        margin: 0 60px;
        margin-bottom: 30px;
        width: 360px;
        font-weight: 900;
        font-size: 26px;
        line-height: 1.62;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: $white-text-color;
        @media screen and (max-width: 479px) {
            width: 250px;
            margin: 0 auto 30px auto;
                }
        @media (min-width: 480px) {
            margin: 0 auto 30px auto;
        }
        @media screen and (min-width: 1200px) {
            margin: 0 auto 30px auto;
            width: 696px;
            font-size: 44px;
            line-height: 1.36;
        }
    }
}
