.hero {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    background-color: $bg-color-second;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bcg-img.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &__title {
        margin: 0 auto;
        margin-bottom: 30px;
        width: 696px;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: $white-text-color;
    }
}
