.logo {
    font-family: Raleway, sans-serif;
    font-size: 26px;
    line-height: 1.19;
    color: $link-hover-color;
    @media screen and (max-width:1199px) {
        font-size: 24px;
        line-height: 28px;
    }
}

.header-logo__studio {
    color: $tit-text-color;
}

.logo__studio {
    color: $white-text-color;
}
