$general-text-color: #757575;
$link-hover-color: #2196f3;
$tit-text-color: #212121;
$white-text-color: #FFFFFF;
$bcg-filtr-color: #F5F4FA;
$bg-color-second: #2F303A;
$background-color-hover: #188CE8;
$social-network: #AFB1B8;
$contact-text-color: rgba(255, 255, 255, 0.6);
$social-network-bcg: rgba(255, 255, 255, 0.1);
$doing-bcg: rgba(47, 48, 58, 0.8);
$project-bcg: rgba(33, 150, 243, 0.9);
$input-bcg: rgba(255, 255, 255, 0.3);
$backdrop-bg-color:rgba(0, 0, 0, 0.2);
$cubic-bezier: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$placeholder-comment:rgba(117, 117, 117, 0.5);
$border-eee:#eeeeee solid 1px;